@media print {
    #etiquetasContainer {
        width: 8.5in;
        height: 11in;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1.3in;
        gap: 0.1in;
    }

    .card {
        page-break-inside: avoid;
        box-shadow: none !important;
        border: 1px solid #ccc;
        padding: 4px;
        text-align: center;
    }

    .barcode-container svg {
        width: 100%;
        height: 0.9in; /* protagonista */
        display: block;
        margin: 0 auto;
    }

    .card-title {
        font-size: 9px;
        font-weight: bold;
        text-align: center;
    }

    .card-text {
        font-size: 8px;
        text-align: center;
    }
}
